.container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* background-color: black; */
}

.container p {
    margin: 0;
}

.container button {
    margin-top: auto;
}

.productImage {
    height: 14rem;
    width: 100%;
    border-radius: 20px;
    border: 5px solid var(--base-font);
    background-size: cover;
    background-position: center center;
}

.productPrice {
    font-size: 1.3rem;
}

.productTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.productDescription {
    margin-top: auto;
    max-width: 80%;
}

.productDescription p {
    font-size: 1.1rem;
}
