.cartContainer {
    position: fixed;
    top: 7rem;
    width: 22rem;
    height: 100vh;
    padding: 2rem 1.8rem 2rem 1.8rem;
    border-left: 8px solid var(--base-font);
    font-family: 'Cabin', sans-serif;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='30' height='30' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(43, 43, 43,1)'/%3E%3Cpath d='M-10-10h60v60h-60zM2 2v36h36v-36z' fill='rgba(39, 39, 39,1)'/%3E%3Cpath d='M-22-22h90v90h-90zM20 20v16h16v-16zM-20-20v16h16v-16zM20-20v16h16v-16zM-20 20v16h16v-16z' fill='rgba(39, 39, 39,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    z-index: 80;
}

.cartContainer ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cartBG {
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 20;
}

.cartItemContainer {
    display: flex;
    gap: 16px;
    padding: 1.25rem 1.1rem 1.25rem 1.1rem;
    border-radius: 14px;
    border: 6px solid var(--light-green);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='30' height='30' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgb(30, 86, 82)'/%3E%3Cpath d='M-10-10h60v60h-60zM2 2v36h36v-36z' fill='rgb(28, 74, 71)'/%3E%3Cpath d='M-22-22h90v90h-90zM20 20v16h16v-16zM-20-20v16h16v-16zM20-20v16h16v-16zM-20 20v16h16v-16z' fill='rgb(28, 74, 71)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.cartDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.cartDetailsContainer p {
    margin: 0;
}

.productTitle {
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.4;
}

.productImage {
    position: relative;
    flex-shrink: 0;
    align-self: center;
    height: 6rem;
    width: 7rem;
    border-radius: 14px;
    border: 7px solid var(--light-green);
    background-size: cover;
    background-position: center center;
}

.productImage * {
    border-radius: 7px;
}

.productPrice {
    font-size: 1.2rem;
    line-height: 1.4;
}

.productQuantity {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 6px 5px 6px 5px;
    border-radius: 6px;
    font-size: 1.3rem;
    background-color: var(--dark-item);
}

.cartTotalPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    padding-top: 0.2rem;
    padding-right: 2rem;
}

.cartTotalPrice :first-child {
    font-size: 1.8rem;
    font-style: italic;
}

.cartTotalPrice :last-child {
    font-size: 1.5rem;
    padding-left: 0.2rem;
}

.cartButtonsContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cartButtonsContainer svg {
    cursor: pointer;
}

.cartButtonsContainer > svg:last-child {
    padding: 6px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: var(--dark-item);
}

.cartButtonsContainer svg:hover {
    color: var(--light-green);
    transition: color 250ms;
}

.checkoutButtonsContainer {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0.4rem;
    padding-right: 1.5rem;
    align-items: flex-end;
    gap: 16px;
}

.checkoutButtonsContainer > button > svg {
    font-size: 1.1rem;
    vertical-align: sub;
}

.noItems {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-style: italic;
    align-items: center;
    gap: 16px;
    font-size: 1.8rem;
}

.cartSpinner {
    display: flex;
    place-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    width: fit-content;
    font-size: 1.2rem;
    padding: 0.4rem 0 0.4rem 0.7rem;
    border-radius: 14px;
    border: 4px solid var(--light-green);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='30' height='30' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgb(30, 86, 82)'/%3E%3Cpath d='M-10-10h60v60h-60zM2 2v36h36v-36z' fill='rgb(28, 74, 71)'/%3E%3Cpath d='M-22-22h90v90h-90zM20 20v16h16v-16zM-20-20v16h16v-16zM20-20v16h16v-16zM-20 20v16h16v-16z' fill='rgb(28, 74, 71)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.travolta {
    height: 10rem;
    width: 80%;
    border-radius: 20px;
    border: 6px solid var(--light-green);
    background-position: center center;
    background-image: url(../public/images/travolta.gif);
}
