.container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: clamp(240px, 28vw, 320px);
    height: 100%;
    padding: 1.8rem 1.6rem 1.8rem 1.6rem;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--dark-item);
}

.container p {
    margin: 0;
}

.container button {
    margin-top: auto;
}

.productImage {
    position: relative;
    height: 10rem;
    width: 10rem;
    border-radius: 24px;
    border: 8px solid var(--light-green);
    background-size: cover;
    background-position: center center;
}

.productImage * {
    border-radius: 16px;
}

.productPrice {
    font-size: 1.3rem;
    line-height: 1.2;
}

.productTitle {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.4;
}

.productDescription {
    margin-top: auto;
    max-width: 80%;
    line-height: 1.5;
}

.productDescription p {
    font-size: 1.1rem;
}

@media (max-width: 650px) {
    .container {
        gap: 4px;
        width: 66vw;
        padding: 1.6rem 1rem 1.6rem 1rem;
    }

    .container button {
        margin-top: 0.5rem;
    }

    .productImage {
        height: 8rem;
        width: 8rem;
        border-radius: 24px;
        border: 6px solid var(--light-green);
    }

    .productPrice {
        font-size: 1rem;
    }

    .productTitle {
        padding-top: 0.3rem;
        font-size: 1.2rem;
    }

    .productDescription p {
        font-size: 0.9rem;
    }
}
