.container {
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--dark-item);
}

.container p {
    margin: 0;
}

.container button {
    margin-top: auto;
}

.productImage {
    position: relative;
    height: 14rem;
    width: 75%;
    border-radius: 24px;
    border: 5px solid var(--base-font);
    background-size: cover;
    background-position: center center;
}

.productImage * {
    border-radius: 18px;
}

.productPrice {
    font-size: 1.3rem;
}

.productTitle {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
}

.productDescription {
    margin-top: auto;
    max-width: 80%;
}

.productDescription p {
    font-size: 1.1rem;
}
